@CHARSET "UTF-8";


 .sidebar{
 float:left;
 }
 .right{
 float:left;
 
}
  .select{
 margin:10px;
 padding:20px;
 float:right;
 }
 .projectinfo{
 text-align:center;
 font-size:18px;
 margin:20px;
 }
 .conclusion th,.conclusion td{
 font-size:14px;
 border-collapse:collapse;
 border: 1px solid #cccccc;
 text-align:center;
 }

.bar1_first{
	width:935px;
	margin-top:5px;
}
.bar1_first li{
	width:400px;
	border-collapse:collapse;
	padding-left:42px;
	position:relative;
}

 .tabs1{
	height:35px;
	width: 100%;
	}
.tabs1 li{
height:30px;
line-height:30px;
float:left;
text-align:center;
border:1px solid #999;
margin-bottom: -1px;
background: #e0e0e0;
overflow: hidden;
/*position: relative;
padding-left:10px;
padding-right:10px;*/
font-size:15px;
width:100px;
border-radius:5px;
background-color:#FFF5EE;
}

/*.tabs1 li a {
	display: block;
	
	margin-top:7px;
	outline: none;
	}*/
.tabs1 li.thistap:hover {
	background: #CAE1FF;
	text-decoration:none;
	} 
.tabs1 li a {
    display: block;
    margin-top:3px;
    outline: none;
    font-weight: normal;
    font-size: 15px;
            }
.tabs1 li a:hover {
    background: #CAE1FF;
    }    
.tabs1 .thistap,.tabs1 .thistap a:hover{
    background: #CAE1FF;
    border-bottom: 1px solid #999;}	  
/*.tabs1,.thistab a:hover{
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
	}*/

  
.orderedlist th,.information th{
    border-collapse: collapse;
    overflow:hidden;
    text-align:center;
    font-size:14px;
	border: 1px solid #cccccc;
	height:20px;
	line-height:20px;
    background:#CCFF66;

    }
    .orderedlist td,.information td{
    text-align:center;
    font-size:14px;
	border: 1px solid #cccccc;
	height:20px;
	line-height:20px;
    background:#FFFFFF;
    
    }
 /*详细测试信息*/
    #bar_tabbox1
{ 
	width:935px; 
	overflow:hidden;
	margin-left:-20px;	
    position: relative;
}

.bar_tabs1
{
	
	width:780px;
	margin-left:26px;
	background-image:url(../images/smallbar.png);
    background-repeat:repeat-x;   
    background-position:center center;
    background-size:100% 20%;
    filter:Alpha(opacity=80); 
    -moz-opacity:0.8; /*支持 FireFox 浏览器*/
    -khtml-opacity: 0.8; 
     padding-left:12.5px;
}
.bar_tabs1 li
{
    width:140px;
    display:inline;
    margin-left:-120px;
    position:relative;
    zoom:1;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    font-family:"Microsoft YaHei";

}

.graybtn1 {
   -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f0ffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #1E90FF;
    display:inline-block;
    color:#873324;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:3px 3px;
    text-decoration:none;
    text-shadow:1px 1px 0px #873324;
    margin-left:19px;
    margin-top:5px;
}
    #bar_tabbox2
{ 
	width:935px; 
	overflow:hidden;
	margin-left:-20px;		
    position: relative;
}

.bar_tabs2
{
	
	width:775px;
	margin-left:20px;
	background-image:url(../images/smallbar.png);
    background-repeat:repeat-x;   
    background-position:center center;
    background-size:100% 20%;
    filter:Alpha(opacity=80); 
    -moz-opacity:0.8; /*支持 FireFox 浏览器*/
    -khtml-opacity: 0.8; 
    padding-left:-5px;
    
}
.bar_tabs2 li
{
    width:140px;
    display:inline;
    margin-left:-63px;
    position:relative;
    zoom:1;
    outline: none;
    font-weight: bold;
    font-size: 17px;
    font-family:"Microsoft YaHei";

}
.graybtn2 {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f0ffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #1E90FF;
    display:inline-block;
    color:#873324;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:3px 3px;
    text-decoration:none;
    text-shadow:1px 1px 0px #873324;
    margin-left:19px;
    margin-top:5px;
}
.graybtn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #d1d1d1 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
    background-color:#d1d1d1;
}
.graybtn:active {
    position:relative;
    top:1px;
}

 