

.title
{
    text-align:center;
    font-size: 18px;
}
.figure
{
    height:220px;
    width:700px;
}


a
{
font-family:"Microsoft YaHei";
display:block;
line-height:18px;
text-decoration:underline;
color:#0000ff;
font-size:15px;
text-align:center;
}
.button_gray
{
	display:block;
}
.shell
{
background:no-repeat 4px 5px;
border: 1px solid #aaa;
width: 600px;
padding: 3px 2px 2px 60px;
margin-bottom:100px;
}
#div1
{
height: 90px;
overflow: hidden;
text-align:center;
}

#info
{
    text-align:center;
    height: 500px;
   overflow: auto;
   padding: 3px 2px 2px 20px;
   margin: 0 80px;
}

body {
   /* background:url(../images/bg-body.jpg);*/
   /* background:#0099cc;*/
   background:#b6aea1;
   
    margin:0;
}
a {
    outline:none;
}
a img {
    border:0;
    display:block;
}

.page {
	width:1200px;
    margin:0 0 0 50px;
    overflow:hidden;
     border-radius:10px;
}



/*------------------------- Header ------------------------*/
#header
{
	 margin:0 40px 0 50px;
	  background-color:#444444;
	  height:55px;
	   border-width: 1px;
	   opacity:0.5;
	   border-radius:8px;
	   font-weight: 400;
	   font-size:40px;
	   color:white;
}

.sidebar {
    width:18%;
    float:left;
    height:auto;
    position: relative;
}
.sidebar img {
	width:200px;
	height:56px;
}
.sidebar ul {
    padding:0;
    margin:0;
}
.sidebar ul li:first-child {
    padding-top:0;
}
.sidebar ul li {
    padding:29px 27px 0 0;
}

.sidebar ul li a {
    font-family:"Microsoft YaHei";
    font-size:24px;
    color:#00BFFF; 
    font-weight:normal;
    text-decoration:none;
    line-height:30px;
    text-shadow:0 1px 0 #dfdfdf;
}
#form {
    margin:400px 0 0;
    text-align:center;
}


/*------------------------- Body ------------------------*/
.body {
	 border-radius:10px;
    float:left;
    /*width:1000px;*/
    width:80%;
    position: relative;
    height:auto;
    padding: 0 0 20px;
    border-color: #dfdfdf;
    border-width: 1px;
}
.body div {
	 border-radius:8px;
    /*background:#99ccff;*/
    background:#f0ffff;
    -moz-box-shadow: 0 0 5px 3px #d3d3d3;
    -webkit-box-shadow: 0 0 5px 3px#d3d3d3;
    box-shadow: 0 0 5px 3px #d3d3d3;
    overflow:hidden;
}
.body div #h3 {
  /*  color: #919191; */
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding:15px 0 10px 0;
    margin:0;
   border-bottom:2px solid #999;
}
.body div p {
    padding:0 0 0 22px;
}

.body div span {
    font-family:"Microsoft YaHei";
    font-weight: normal;
}

.body div div span {
    font-family:"Microsoft YaHei";
    font-weight: normal;
    line-height: 30px;
    text-decoration: none;
    padding:15px 0 10px 0;
    margin:0;
}
.body div div {
    background:none;
    box-shadow:none;
    margin: 0 20px;
}
